.contactContainer{
  background: #0099cc;
  height: 50%;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
}

.contactImageContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.linkToTop{
  text-decoration: none;
}
